@import '../../styles/base/_null.scss';

html, body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100%;
    font-family: Quicksand;
    color:#313131;
}

.wrapper{position: absolute;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

}

._container{
    max-width: 1216px;
    margin: 0px auto;
   
}
/*------------MAIN--------------------------------------------------------------------------------------------*/

.main{
    padding-top: 196px;
    padding-bottom: 196px;
    align-items: center;

}

.error{    
    display: flex;
}

button{
    padding: 6px 71px 6px 71px;
    background: #27AAF0;
    border-radius: 20px;
    text-align: center; 
    margin: auto 457px 112px 457px ;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}