<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto&display=swap" rel="stylesheet">
        <title>Err404black</title>
    </head>

    <body>
        <div class="wrapper">

            <main class="main _container">
                <div class="main_container">
                    <div class="blue_container">
                        <div class="buttons_container">
                            <button class="buttonLogin" type="button">LOGIN</button>
                            <button class="buttonRegister" type="button">REGISTER</button>
                        </div>

                        <div class="text_container">
                            <h2>Welcome to</h2>
                            <h1>SKILL++</h1>
                            <h3>Curiosity is one of the permanent and certain characteristics of a vigorous mind. </h3>
                        </div>
                    </div>
                    
                    <div class="login_container">
                    
                        <img class="logo" src="assets/img/Logos.svg" alt="logo"> 
                        
                        <div class="form_container">
                            <h4>LOGIN</h4>
                            <form>
                                <div class="input_container">
                                    <img src="assets/img/username.svg" alt="username">
                                    <input type="text" placeholder="Username" name="usernameIcon" required> 
                                </div>
                                
                                <label>Up to 40 symbols</label>   
                                 
                                <div class="input_container">
                                    <img src="assets/img/password.svg" alt="passwordIcon">
                                    <input type="password" placeholder="Password" name="password" required>   
                                </div>
                                
                                <label>8 symbols or more</label>  

                                <button class="buttonEnter" type="button" class="buttonEnter">
                                    <img class="buttonIMG" src="assets/img/login.svg" alt="enter">
                                    LOGIN
                                </button>

                                <div class="remember_container">
                                    <input id="rememberbox" type="checkbox" />
                                    <label for="rememberbox"></label>
                                    <label class="rememberLabel">Remember me</label>
                                    
                                </div>
                                
                            </form>

                        </div>
                    </div>

                </div>
            </main>
           
        </div>
        <!--<script src="js/scripts.js"></script>-->
    </body>
</html> 