<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto&display=swap" rel="stylesheet">
        <title>Article page</title>
    </head>

    <body>
        <div class="wrapper">
           
            <main class="main">
                <div class="main_container _container">

                    <div class="feedBlok">
                        
                        <img src="assets/img/Image.png">
                        
                        <div class="cardcontent">
                           
                            <div class="tegs">
                                <a href="">Data Sciense</a>
                                <a href="">Artificial Intelligence</a>
                            </div>

                            <h2>How To Add Confidence Intervals to Any Model</h2>

                            <p>I would like to add another technique to your toolkit — confidence intervals.</p>
                            
                            <div class="caption_container">
                    
                                <img class="authorImg" src="assets/img/Rectangle25.png" alt="user">
                                <a class="avtorName" href="">TYLER FOLKMAN</a>
                                <ul class="reactions">
                                    <img class="reactionsImg" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">147</li>
                                    <li><img class="reactionsImg" src="assets/img/star.svg" alt="star"></li>
                                </ul>
                                
                            </div>

                        </div>

                    </div>


                    <div class="feedBlok">
                        
                        <img src="assets/img/Image2.png">
                        
                        <div class="cardcontent">
                           
                            <div class="tegs">
                                <a href="">Front End</a>
                                <a href="">JavaScript</a>
                            </div>

                            <h2>What’s New in JavaScript — ES2019</h2>

                            <p>Every year there have been new features 
                                added to the JavaScript specification. Array.flatMap, 
                                try/catch improvements and more</p>
                            
                            <div class="caption_container">
                    
                                <img class="authorImg" src="assets/img/Rectangle2.png" alt="user">
                                <a class="avtorName" href="">JOHN AU-YEUNG</a>
                                <ul class="reactions">
                                    <img class="reactionsImg" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">147</li>
                                    <li><img class="reactionsImg" src="assets/img/star.svg" alt="star"></li>
                                </ul>
                                
                            </div>

                        </div>

                    </div>

                    <div class="feedBlok">
                        
                        <img src="assets/img/Image3.png">
                        
                        <div class="cardcontent">
                           
                            <div class="tegs">
                                <a href="">Productivity</a>
                                <a href="">Humor</a>
                            </div>

                            <h2>How To Fake Being a Good Programmer</h2>

                            <p>Programmers are wizards— poor, ragged characters
                                turning coffee into code. I don’t know magic, I‘m merely an illusionist.</p>
                            
                            <div class="caption_container">
                    
                                <img class="authorImg" src="assets/img/Rectangle3.png" alt="user">
                                <a class="avtorName" href="">STEN SOOTLA</a>
                                <ul class="reactions">
                                    <img class="reactionsImg" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">147</li>
                                    <li><img class="reactionsImg" src="assets/img/star.svg" alt="star"></li>
                                </ul>
                                
                            </div>

                        </div>

                    </div>

                    <div class="feedBlok">
                        
                        <img src="assets/img/Image4.png">
                        
                        <div class="cardcontent">
                           
                            <div class="tegs">
                                <a href="">Terminal</a>
                                <a href="">Programming</a>
                            </div>

                            <h2>Here Are 11 Console Commands Every Developer Should Know</h2>

                            <p>Instead of clicking around in the Graphical User Interface (GUI), 
                                we can fire off a couple of commands and call it job done.</p>
                            
                            <div class="caption_container">
                    
                                <ul class="reactionsNoAvtor">
                                    <img class="reactionsImg" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">147</li>
                                    <li><img class="reactionsImg" src="assets/img/star.svg" alt="star"></li>
                                </ul>
                                
                            </div>

                        </div>

                    </div>

                    <div class="feedBlok">
                        
                        <img src="assets/img/Image5.png">
                        
                        <div class="cardcontent">
                           
                            <div class="tegs">
                                <a href="">Programming</a>
                                <a href="">Coding</a>
                            </div>

                            <h2>How To Add Confidence Intervals to Any Model</h2>

                            <p>I would like to add another technique to your toolkit — confidence intervals.</p>
                            
                            <div class="caption_container">
                    
                                <img class="authorImg" src="assets/img/Rectangle4.png" alt="user">
                                <a class="avtorName" href="">DEVIN SONI</a>
                                <ul class="reactions">
                                    <img class="reactionsImg" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">147</li>
                                    <li><img class="reactionsImg" src="assets/img/star.svg" alt="star"></li>
                                </ul>
                                
                            </div>

                        </div>

                    </div>

                    <div class="feedBlok">
                        
                        <img src="assets/img/Image6.png">
                        
                        <div class="cardcontent">
                           
                            <div class="tegs">
                                <a href="">Data Sciense</a>
                                <a href="">Python</a>
                            </div>

                            <h2>Reduce Memory Usage and Make Your Python Code Faster Using Generators</h2>

                            <p>When I started learning about python generators, I had no idea how important it would turn...</p>
                            
                            <div class="caption_container">
                    
                                <img class="authorImg" src="assets/img/Rectangle5.png" alt="user">
                                <a class="avtorName" href="">ABHINAV SAGAR</a>
                                <ul class="reactions">
                                    <img class="reactionsImg" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">147</li>
                                    <li><img class="reactionsImg" src="assets/img/star.svg" alt="star"></li>
                                </ul>
                                
                            </div>

                        </div>

                    </div>

                    <button type="button" class="buttonLoad">
                        <img class="loadIMG" src="assets/img/Vectordownload.svg" alt="loadMore">
                        LOAD MORE
                    </button>
                   
                </div>
            </main>
           
        </div>
        <!--<script src="js/scripts.js"></script>-->
    </body>
</html> 