<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto&display=swap" rel="stylesheet">
        <title>Article page</title>
    </head>

    <body>
        <div class="wrapper">
           <header class="header">
                <div class="_container">
                    
                    <div class="infoIMG _container">
                
                        <img class="authorImg" src="assets/img/folkman.png" alt="user">
                        
                    </div>
                    <div class="info">
                        <h2>Tyler Folkman</h2>
                        <table>
                            <tr>
                              <th>Joined</th>
                              <th>Gender</th>
                              <th>Status</th>
                              <th>Email</th>
                            </tr>
                            <tr>
                              <td>12 November 2019</td>
                              <td>Male</td>
                              <td>Administrator</td>
                              <td>tayler.folkman@gmail.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </header>

            <main class="main">
                <div class="main_container _container">
                   <h1>Most popular articles</h1>

                    <div class="main_midle">

                        <div class="popular stack-top">
                        
                            <div class="popTwo">
                                <div class="onePop">

                                    <div class="smallTallCard">
                                        <img class="smallTallCardImg" src="assets/img/Image.png" alt="img1">
                                        <h3>How To Add Confidence Intervals to Any Model</h3>
                                        <p>I would like to add another technique
                                            to your toolkit — confidence intervals.</p>
                        
                                            <div class="caption_container">
                                                <img class="reactionImg" src="assets/img/Rectangle25.png" alt="user">
                                                <a class="reactionName" href="">TYLER FOLKMAN</a>
                                                <ul class="reactions">
                                                    <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                                    <li class="reactionsText">147</li>
                                                    <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                                </ul>
                                            </div>
                                            
                                    </div>

                                </div>
                                

                                <div class="twoPop">

                                    <div class="smallCardTop">
                                        <img class="smallTallCardImg" src="assets/img/ImageSmall2.png" alt="img1">
                                        <h3 class="smallH3">What’s New in JavaScript — ES2019</h3>
                                        <div class="caption_container">
                                            <img class="reactionImg" src="assets/img/Rectangle25.png" alt="user">
                                            <a class="reactionName" href="">TYLER FOLKMAN</a>
                                            <ul class="reactions">
                                                <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                                <li class="reactionsText">120</li>
                                                <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="smallCard">
                                        <img class="smallTallCardImg" src="assets/img/ImageSmall3.png" alt="img1">
                                        <h3 class="smallH3">How To Fake Being a Good Programmer</h3>
                                        <div class="caption_container">
                                            <img class="reactionImg" src="assets/img/Rectangle25.png" alt="user">
                                            <a class="reactionName" href="">TYLER FOLKMAN</a>
                                            <ul class="reactions">
                                                <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                                <li class="reactionsText">89</li>
                                                <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="threePop">

                                <div class="smallCard">
                                    <img class="smallTallCardImg" src="assets/img/ImageSmall4.png" alt="img1">
                                    <h3>Reduce Memory Usage and Make Your Python Code Faster Using Generators</h3>
                                    <div class="caption_container">
                                        <img class="reactionImg" src="assets/img/Rectangle25.png" alt="user">
                                        <a class="reactionName" href="">TYLER FOLKMAN</a>
                                        <ul class="reactions">
                                            <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                            <li class="reactionsText">21</li>
                                            <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                        </ul>
                                    </div>
                                </div>

                                <div class="smallCard">
                                    <img class="smallTallCardImg" src="assets/img/ImageSmall5.png" alt="img1">
                                    <h3>Here Are 11 Console Commands Every Developer Should Know</h3>
                                    <div class="caption_container">
                                        <img class="reactionImg" src="assets/img/Rectangle25.png" alt="user">
                                        <a class="reactionName" href="">TYLER FOLKMAN</a>
                                        <ul class="reactions">
                                            <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                            <li class="reactionsText">3</li>
                                            <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            
    
    
                        </div>

                        <div class="blue ">
                            <ul class="stats">
                                <li class="numberStats">12</li>
                                <li class="nameStats">Articles created</li>
                                <li class="numberStats">403</li>
                                <li class="nameStats">Likes received</li>
                                <li class="numberStats">34</li>
                                <li class="nameStats">Comments written</li>
                            </ul>
                        </div>
        
                        
                   </div>
                                  
                
                <h1 class="NewestH3">Newest</h1>

                <div class="Newest_conteiner">
                    <img src="assets/img/newest.png" alt="Newest">
                    <div class = "Newest ">
                        <div class="tegs">
                            <a class="NewestTegs" href="">Angular</a>
                            <a class="NewestTegs" href="">Material Design</a>
                        </div>

                        <div class="NewestTextContainer">
                            <h4 class="NewestH3">Angular: Multiple Themes Without Killing Bundle Size (With Material or Not)</h4>

                            <p class= "TextNewest">Keep users happy with a choice of themes</p>
                        
                                <ul class="reactions paddinBottom">
                                    <img class="reactionImg" src="assets/img/Rectangle2.png" alt="user">
                                    <a class="reactionName reactionNewestName" href="">JOHN AU-YEUNG</a>
                                    <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">147</li>
                                    <li><img class="reactionsVector" src="assets/img/star.svg" alt="star"></li>
                                </ul>
                                
                            </div>
                       
                        
                        

                    </div>
                </div>
                   
                    
                </div>
            </main>

            <footer class="footer">
                
                <div class="footer_container _container">
                    <div class="backDiv "></div>
                    <div class="frontDiv stack-top">
                        <div class="smallCard marginForFootherMiniBlock">
                            <img class="smallTallCardImg" src="assets/img/React.png" alt="img1">
                            <h3 class="paddingFooterH3Footer">Is React Overrated?</h3>
                            <div class="caption_container">
                                <img class="reactionImg " src="assets/img/Rectangle25.png" alt="user">
                                <a class="reactionName" href="">TYLER FOLKMAN</a>
                                <ul class="reactions">
                                    <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">120</li>
                                    <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                </ul>
                            </div>
                        </div>

                        <div class="smallCard marginForFootherMiniBlock">
                            <img class="smallTallCardImg" src="assets/img/NextApp.png" alt="img1">
                            <h3>Reduce Memory Usage and Make Your Python Code Faster Using Generators</h3>
                            <div class="caption_container">
                                <img class="reactionImg" src="assets/img/Rectangle25.png" alt="user">
                                <a class="reactionName" href="">TYLER FOLKMAN</a>
                                <ul class="reactions">
                                    <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">120</li>
                                    <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                </ul>
                            </div>
                        </div>

                        <div class="smallCard marginForFootherMiniBlock">
                            <img class="smallTallCardImg" src="assets/img/JSSets.png" alt="img1">
                            <h3>Reduce Memory Usage and Make Your Python Code Faster Using Generators</h3>
                            <div class="caption_container">
                                <img class="reactionImg" src="assets/img/Rectangle25.png" alt="user">
                                <a class="reactionName" href="">TYLER FOLKMAN</a>
                                <ul class="reactions">
                                    <img class="reactionsVector" src="assets/img/Vector.svg" alt="kudos">
                                    <li class="reactionsText">120</li>
                                    <img class="reactionsVector" src="assets/img/star.svg" alt="star">
                                </ul>
                            </div>
                        </div>


                    </div>
                    
                </div>
            </footer>

            
           
        </div>
        <!--<script src="js/scripts.js"></script>-->
    </body>
</html> 


